version: '3.8'

services:
  backend:
    build:
      context: .
    ports:
      - "8080:8080"
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/projektdyplomowy
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_SQL_INIT_MODE=always
    depends_on:
      postgres-db:
        condition: service_healthy

  postgres-db:
    image: postgres:16
    environment:
         - POSTGRES_DB=projektdyplomowy
         - POSTGRES_USER=${DB_USERNAME}
         - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5444:5432"
    volumes:
      - postgres_data:/var/lib/postgres/data
      #- ./scripts:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d projektdyplomowy"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  postgres_data:

